.vscode/*
*/.vscode/*
*.o
*.idx
*.dSYM
compile_commands.json
megaphone
phonebook
tests
zombies
ptrref
fight
replace
*.replace
karen
karenFilter
fixed
point
clap
scav
frag
diamond
animals
a.out
bureaucrat
*_shrubbery
intern
convert
serialization
identify
template
iter
array
easyfind
span
mutantstack
materia
